<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <!-- creating  foreach and wrapping our form inside the div -->
        <!-- here item is an aray or documents which has id and name -->
        <% newListItems.forEach(function(item) { %>
            <!-- this route is responsible for deleting new items -->
            <form action="/delete" method="post">
                <div class="item">
                    <!-- to get the checkbox submit when we trigger it, onchange=checked to unchecked and viceversa -->
                    <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit()">
                    <p>
                        <%=  item.name %>
                    </p>
            </form>
            </div>
            <% }) %>

                <!-- this route is responsible for adding new items -->
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list">+</button>
                </form>
    </div>

    <%- include("footer") -%>